/*
 * Base structure
 */

body {
  height: 100%;
  background-color: #222;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.center {
  text-align: center;
}

.inner {
  margin-top: 25px;
}

.thirds {
  padding: 0 10px;
}

.wrapper {
  margin: auto;
  max-width: 1000px;
  padding: 0 5px;
}

.ball-img {
  border-radius: 50%;
}

.column-par {
  margin: 50px 0;
}

.button-div{
  margin: 25px 0 75px;
}